<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>{{dialogBaslik}}</span>
  
</mat-toolbar>
<div class="container">
   <form [formGroup]="frm">

    <mat-form-field appearance="outline">
      <mat-label>Kullanıcı Adı</mat-label>
      <input matInput placeholder="KullaniciAdi" formControlName="KullaniciAdi" required>
    </mat-form-field>
<br>
    <mat-form-field appearance="outline">
      <mat-label>E-posta</mat-label>
      <input matInput placeholder="UyeMail" formControlName="UyeMail" required>
    </mat-form-field>
<br>
    <mat-form-field appearance="outline">
      <mat-label>Parola</mat-label>
      <input matInput placeholder="UyeParola" formControlName="UyeParola" required>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="apiServis.oturumKontrol()">
      <mat-label>Üye Yetki</mat-label>
      <mat-select matSelect formControlName="UyeYetki" placeholder="UyeYetki">
        <mat-option [value]= 1 >Admin</mat-option>
        <mat-option [value]= 0 >Üye</mat-option>
      </mat-select>
    </mat-form-field>




    <mat-form-field appearance="outline" *ngIf="apiServis.oturumKontrol()">
      <mat-label>Uye Tarih</mat-label>
      <input matInput placeholder="UyeTarih" formControlName="UyeTarih" required>
    </mat-form-field>
<br>


   </form> 
</div>

<button mat-raised-button color="primary"  (click)="dialogRef.close(frm.value)" [disabled]="frm.invalid">Kaydet</button>&nbsp;
<button mat-raised-button color="warn" (click)="dialogRef.close()">Kapat</button>&nbsp;