<div class="container">

  <div *ngIf="apiServis.oturumKontrol()" >
  <h2>Soru Sor</h2>
  <button mat-fab matTooltip="Soru Ekle" color="primary" (click)="Ekle()" >
    <mat-icon aria-label="label">add</mat-icon>
  </button>
  <p>&nbsp;</p>
</div>
<div *ngIf="!apiServis.oturumKontrol()">
  <h2>Soru Sormak İçin <a href="" [routerLink]="['/login']"> Oturum Açınız</a></h2>
  <button mat-fab matTooltip="Soru Ekle"[routerLink]="['/login']"  color="primary">
    <mat-icon aria-label="label">add</mat-icon>
  </button>
  <p>&nbsp;</p>
</div>


  
  
  <h1>{{kat?.KategoriAdi}} Soruları</h1>
  <h2 style="color: red;" *ngIf="sorular?.length == 0">{{kat?.KategoriAdi}} Kategorisinde henüz soru yok. İlk soran ol!</h2>
  <mat-card  *ngFor="let sorular of sorular">
  <mat-card-subtitle> <b>Soran : </b> <a style="font-size: 20px;" href="#"  [routerLink]="['/uyesorular', sorular.UyeId]">{{sorular.UyeKadi}}</a></mat-card-subtitle>
  <h1> Başlık : {{sorular.SoruBaslik}}</h1>
  <h2></h2>
 <div [innerHtml]="sorular.SoruIcerik | safeHtml"> </div>
 
<p>
 
  <b>Kategori : </b> {{sorular.KategoriAdi}}&nbsp;&nbsp;
  <b>Tarih : </b> {{sorular.SoruTarih | date: 'dd.MM.yyyy HH:mm:ss'}}&nbsp;&nbsp;
  <button mat-button [routerLink]="['/sorular', sorular.SoruId]">Yanıtları Gör</button>
</mat-card>










<!-- 
<div class="container">
<h1>{{kat?.KategoriAdi}} Soruları</h1>
<h2 style="color: red;" *ngIf="sorular?.length == 0">{{kat?.KategoriAdi}} Kategorisinde henüz soru yok. İlk soran ol!</h2>
<div *ngFor="let sorular of sorular">
 <h1>Soru Başlığı : {{sorular.SoruBaslik}}</h1>
<p>
  <b>Kategori : </b> {{sorular.KategoriAdi}}&nbsp;&nbsp;
  <b>Tarih : </b> {{sorular.SoruTarih | date: 'dd.MM.yyyy HH:mm:ss'}}&nbsp;&nbsp;
  <b>Yazan : </b> <a href="#"  [routerLink]="['/uyesorular', sorular.UyeId]">{{sorular.UyeKadi}}</a>&nbsp;&nbsp;
  <a href="#" [routerLink]="['/sorular', sorular.SoruId]">Soruyu Gör</a>

</p>
<hr>
</div>

</div> -->